.cartPage {
  padding: 1rem;
  max-width: 800px;
  margin: 0 auto;
}

.cartItem {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 0;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.cartItem:last-child {
  border-bottom: none;
}

.cartItem > div {
  flex-shrink: 0;
}

.productImageWrapper {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
}

.productInfo {
  flex-grow: 1;
  text-align: left;
}

.productQuantity,
.productTotalPrice {
  width: 80px;
  text-align: right;
}

.productImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 4px;
}
