.sidebar {
  width: 250px;
  padding: 1em;
  border-right: 1px solid #ddd;
  background-color: #f9f9f9;
}

.filterForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formTitle {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 16px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  padding-bottom: 8px;
}

.filterItems {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.filterGroup {
  /* margin-bottom: 1em; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.3em;
}

.filterLabel {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.filterSelect {
  width: 100%;
  padding: 4px 8px;
}

.filterOption {
  display: flex;
  gap: 0.3em;
}

.priceRangeContainer {
  display: flex;
  gap: 8px;
}

.priceInput {
  width: 100%;
  padding: 4px 8px;
}

.buttonGroup {
  display: flex;
  gap: 8px;
  justify-content: space-around;
}

.applyFilterButton {
  width: 100%;
  background-color: #bce8c2;
  color: rgb(92 86 86);
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition:
    transform 0.1s ease,
    background-color 0.3s ease;
}

.applyFilterButton:hover {
  background-color: #a5d49a;
}

.applyFilterButton:active {
  transform: scale(0.95);
}

.resetFilterButton {
  width: 100%;
  background-color: #f45d52;
  color: white;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition:
    transform 0.1s ease,
    background-color 0.3s ease;
}

.resetFilterButton:hover {
  background-color: #d9433d;
}

.resetFilterButton:active {
  transform: scale(0.95);
}
