.searchBarContainer {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.searchInput {
  flex-grow: 1;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.searchButton {
  margin-left: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #bce8c2;
  color: rgb(92 86 86);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition:
    transform 0.1s ease,
    background-color 0.3s ease;
}

.searchButton:hover {
  background-color: #a5d49a;
}

.searchButton:active {
  transform: scale(0.95);
}

.resetButton {
  margin-left: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #f45d52;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition:
    transform 0.1s ease,
    background-color 0.3s ease;
}

.resetButton:hover {
  background-color: #d9433d;
}

.resetButton:active {
  transform: scale(0.95);
}
